@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: normal;
    src: local("Gilroy-ExtraBold"), url("fonts/Gilroy-ExtraBold.otf") format("otf");
}

@font-face {
    font-family: "Gilroy-Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Gilroy-Bold"), url("fonts/Gilroy-Bold.woff") format("otf");
}

* {
    overflow: hidden;
    outline: none;
    user-select: none;
    -webkit-user-drag: none;
}

.Bg {
    position: absolute;

    transition: 250ms;

    right: 0%;
    top: 0%;

    width: 300px;
    height: 100%;

    padding: 6px;

    flex-direction: column;
    display: flex;
    align-items: center;

    gap: 30px;
    overflow-y: auto;
}

.NotifyFrame {
    position: relative;
    display: flex;
    transition: 250ms;

    width: 280px;
    height: 140px;

    background: #293032;
    backdrop-filter: blur(12px);
    border: 1.5px solid #AFAFFF;

    animation: SlideInRight .45s cubic-bezier(.2,.8,.2,1);
}

/* Colors */
.NotifyFrame.Info {
    border-color: var(--Info-color);
}

.NotifyFrame.Success {
    border-color: var(--Success-color);
}

.NotifyFrame.Warning {
    border-color: var(--Warning-color);
}

.NotifyFrame.Error {
    border-color: var(--Error-color);
}

.NotifyFrame.Info .Progressbar {
    background: var(--Progressbar-Info-color);
}

.NotifyFrame.Success .Progressbar {
    background: var(--Progressbar-Success-color);
}

.NotifyFrame.Warning .Progressbar {
    background: var(--Progressbar-Warning-color);
}

.NotifyFrame.Error .Progressbar {
    background: var(--Progressbar-Error-color);
}

.Title {
    position: absolute;

    align-content: center;
    transition: 250ms;

    width: 280px;
    height: 32px;

    font-family: "Gilroy";
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    color: #fff;
}

.Message {
    position: absolute;
    left: 2.3%;
    top: 24.5%;

    align-content: center;
    transition: 250ms;

    width: 257px;
    height: 70px;

    font-family: "Gilroy-Bold";
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    color: #fff;
}

.ProgressbarBg {
    position: absolute;
    display: flex;
    
    bottom: 5%;
    left: 2.3%;

    transition: 250ms;

    border-radius: 10px;
    width: 257px;
    height: 20px;
    background: rgba(217, 217, 217, 0.1);
}

.Progressbar {
    position: absolute;
    display: flex;
    
    width: 10%;
    height: 20px;
    border-radius: 10px;

    bottom: 5%;

    transition: width .3s linear;

    background: #afafff;
}

@keyframes SlideInRight {
    from {
        transform: translateX(120%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes SlideOutRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(120%);
        opacity: 0;
    }
}